/*Section 2: Shape Section*/
.shape-content {
    display: flex;
    gap: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6% 0;
}

.shape-text {
 font-size: 2.9rem;
 line-height: 1.4;
}

.shape-img > img {
    box-shadow: var(--color-primary-red) -40px 40px;
    border-radius: 30px;
}


/*Card Containers Sections aka Section 3 and 4*/
.value-section {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.value-text {
    min-width: 80%;
    text-align: center;
}


.about-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 6% 0 0 0;
}

.about-card-subtainer {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-card {
    display:flex;
    flex-direction: column;
    width: 30%;
    min-width: 400px;
    max-width: 800px;
    min-height: 360px;
    background-color: var(--color-primary-red);
    border-radius: 5px;
    border: 3px solid rgba(0,0,0,0.2);
    margin: 1%;
    padding: 1% 2% 2% 2%;
    color: rgba(255, 255, 255, 0.9);
    transform: scale(.6);
    transition: opacity 0.5s ease-in-out, transform 0.6s ease-in-out;
}
 
.about-card-icon {
    justify-content: flex-start;
    height: 90px;
    background: url("../assets/svgs/careerpageicons-02.svg");
    background-repeat: no-repeat;
    background-size: contain;

}

.about-card > h3 {
    font-weight: 600;
    color: var(--color-white);
    font-size: 1.7rem;
}

.about-card > i {  
    font-size: 2.7rem; 
    line-height: 1.4;
    color: rgba(255,255,255,0.9);
}

.about-card > p {
    letter-spacing: 1px;
    line-height: 2;
}

/*Perks and Benefits Section Specific*/
.benefits-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.benefits-text {
    min-width: 80%;
    text-align: center;
}

.comp-pay {
    background-color: #0dd15251;
    }

.comp-pay > i {
    color: rgb(13, 209, 83);   
}

.comp-pay > h3, .comp-pay > p {
    color: var(--color-black);
}

.pto-card {
    background-color: #BD0DD130;
    color: var(--color-black);
}

.pto-card > i {
    color: #BD0ED1;
}

.pto-card > h3, .pto-card > p {
    color: var(--color-black);
}

.profit-sharing-card {
    background-color: #0DC4D155;
    color: var(--color-black);
}

.profit-sharing-card > h3, .profit-sharing-card > p {
    color: var(--color-black);
}

.profit-sharing-card > i {
    color: #0DC4D1;
}

.health-card {
    background-color: #D10D7F47;
}

.health-card > i {
    color: #D10D7F
}

.health-card > h3, .health-card > p {
    color: var(--color-black);
}

/*Info Section*/
.about-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.info-header {
    min-width: 70%;
    text-align: center;
    font-size: 1.7rem;
}

.info-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.info-card-subtainer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-text {
    line-height: 3;
    font-size: 1.3rem;

    width: 100%;
    min-width: 300px;
    text-align: center;
}

/*Openn Position Section*/
.open-section {
    padding: 6% 3%;
}


.open-text {
    text-align: center;
}

/*How To Apply? Section*/
.hta-section {
    padding: 3% 3%;
}

.hta-text {
    text-align: center;
}

/*Middle Layout*/
@media screen and (max-width: 1100px) {

}

/*Mobile Layout*/
@media screen and (max-width: 700px) {  

   /*Our Values --Mobile*/
   .about-card {
    margin: 6% 0;
   }

   .info-text {
    font-size: 1.0rem;
    line-height: 2.3;
    width: 100%;
    text-align: left;
   }
}