/*Hero Section*/
.managed-hero {
   background-color: rgba(0,0,0,0.95);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0;
    border-radius: 0 0 50px 50px;
    min-height: 85vh;
}

.managed-hero-content {
    text-align: center;
    width: 60%;
    position: absolute;
    z-index: 4;
    margin-top: 15%; 
}

.managed-hero-header {
    font-size: 4.0rem;
    font-weight: 700; 
    margin-bottom: 1.5rem;
    font-family: "Orbitron", "Lato", sans-serif;
}

.managed-hero-text {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    font-style: italic;
}

.hero-btn-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 3%;
}

.hero-btn {
    background-color: var(--color-white);
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;
    color: var(--color-primary-red);
    font-weight: 600;
    font-size: 1.2rem;
    transition: all .3s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);   
}

.hero-btn:hover {
    transform: scale(1.1);
    background-color: var(--color-light-grey);  
    
}

/*IT Information*/
.info-container{
    padding-top: 6%;
}

.info-image {
    min-width: 40%;
    background: url("../assets/okc\ downtown.jpg"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.25); 
} 

.info-content {
    width: 50%;
    min-height: 400px;
    background-color: var(--color-white);
    border-radius: 3px;
} 

/*IT Color Wheel Section*/
.wheel-container {
    padding: 6% 0;
}

.wheel-content {
    width: 40%;
}

.drop-card {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 100%;
    margin-bottom: 3%;
    background-color: var(--color-white);
}

.drop-card-title{
    background-color: var(--color-white); 
    color: var(--color-primary-red);
    padding: 2% 5%;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop-card-title > h4 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2;
}

.drop-card-description {
    background-color: var(--color-primary-red);
    color: var(--color-white);
    padding: 4% 3%;
    border-radius: 0 0 15px 15px;
    display: none;
    line-height: 1.9;
}

.plus-circle {
    background-color: var(--color-primary-red);
    border-radius: 180px;
    width: 35px;
    height: 35px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
    color: var(--color-white);
    cursor: pointer;
}

.wheel-image {
    min-width: 50%;
    height: 600px;
    background-color: var(--color-primary-red);
    border-radius: 15px;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.25);
}

/*Complete IT Coverage Section*/
.coverage-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 6% 0;
}

.coverage-subtainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.coverage-card {
    width: 30%;
    min-width: 350px;
    max-width: 800px;
    min-height: 600px;
    background-color: var(--color-primary-red);
    border-radius: 15px;
    border: 3px solid rgba(0,0,0,0.2);
    margin: 1%;
    padding: 1% 3%;
    color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease-in-out;
}

.coverage-card > i {  
    padding-top: 4%;
    font-size: 3rem; 
    line-height: 1.4;
    color: rgba(255,255,255,0.9);
}

.coverage-card > h3 {
    padding-top: 6%;
    font-weight: 700;
    font-size: 1.9rem;
}

.coverage-card > p {
    padding-top: 4%;
    letter-spacing: 1px;
    line-height: 1.9;
}

.coverage-card:hover {
    transform: scale(1.1);
}

.coverage-btn-container {
    display: flex;
    justify-content: center;
}

.coverage-btn {
    background-color: var(--color-primary-red);
    color: var(--color-white);
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    transition: all .3s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); 
}

.coverage-btn:hover {
    background-color: var(--color-light-grey);
    color: var(--color-primary-red);
    transform: scale(1.1);
}

/*Managed IT - Call to Action*/
.managed-cta {
    padding: 3% 0 1% 0;
    background-color: var(--color-black);
    color: var(--color-white);
    
}

.managed-bar-red {
    display: flex; 
    justify-content: center;
    width: 10%;
    margin: 2% 45%;
    border-top: 4px solid rgba(0,0,0,0.1);
    background-color: var(--color-primary-red);
}

.managed-cta-container {
    display:flex;
    justify-content: center;
    padding: 4% 0;
}

.managed-cta-content {
    display: flex;
    padding: 0 3%;
    gap: 10px;
}

.managed-cta-content > a {
    text-decoration: none;
    color: var(--color-white);
}

.managed-cta-content > i {
    font-size: 1.9rem;
    color: var(--color-white);
}

/*Middle Layout*/
@media screen and (max-width: 1100px) {

    /*Managed Hero Section --Middle*/
    .managed-hero {
        padding: 14% 0 3% 0;
        background: url("../assets/Circuit\ Board.svg");
    }

    .managed-hero-content {
        width: 100%;
        padding: 0 6%;
        position: static;
    }
    .managed-hero-header {
        font-size: 2.4rem;
    }
        
    .managed-hero-text {
        font-size: 1.1rem;
    }

    .hero-btn-container{
        gap: 30px;
        padding: 10% 10%;
        flex-direction: column;
    }
    
    /*IT Information -- Middle Section*/ 
    .info-container{
        padding-top: 20%;
    }

    .info-image {
        height: 300px;
        margin-bottom: 10%; 
    }

    .info-content{
        width: 100%;
    }

     /*IT Color Wheel Section --Middle*/

     .wheel-content {
        order: 2;
        padding-top: 10%;
        width: 100%;
    }

    .drop-card {
        margin-bottom: 10%;
    }

    .drop-card-title > h4 {
        font-size: 1.0rem;
    }

    .drop-card-description {
        line-height: 1.8;
    }

    .wheel-image{
        order: 1;
        height: 300px;
    }

    
    /*Managed IT - Call to Action -- Middle*/
    .managed-cta {
        padding-top: 10%;
    }
    
    .managed-cta-container {
        flex-direction: column;
        padding: 0 0;
    }
  
    .managed-cta-content {
        justify-content: center;
        padding: 3% 0;
        gap: 6px;
    }

    .managed-cta-content > i {
        font-size: 1.7rem;
    }
}

/*Mobile Layout*/
@media screen and (max-width: 700px) {

    /*Hero --Mobile*/
    .managed-hero {
        padding-top: 30%;
    }

    .managed-hero-content {
        width: 90%;
    }

    .managed-hero-header {
        margin-bottom: 1.5rem;
    }

    .hero-btn-container{
        gap: 20px;
        padding: 20% 10% 30% 10%;
       
    }
    
    .hero-btn {
        padding: 15px 18px;
        font-size: 1.0rem;
        text-align: center;
    }

    /*Complete IT Coverage Section -- Mobile*/ 
    .coverage-card {
      margin: 6% 0;
      min-width: 300px;
    }

    .coverage-card:hover{
        transform: none;
    }

    .coverage-btn {
        font-size: 1.1rem;
    }
        
}