/*Contact Sales Section*/
.contact-sales {
    display: flex;
    gap: 10%;
}

.contact-sales-alt {
    background-image: url("../assets/svgs/SITSmainpageassets-21\ 2\ \(1\).webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    gap: 10%;
}

.contact-sales-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.contact-sales-subtitle {
    font-style: italic;
    font-size: 1.9rem;
    padding-bottom: 3%;
}


.contact-sales-desc {
    font-size: 1.3rem;
    padding: 3% 0;
    line-height: 1.4;
}

.contact-sales-btn-container {
    padding: 6% 0;
    text-align: center;
}

.contact-sales-btn {
    display: inline-block;
    background-color: var(--color-primary-red);
    color: var(--color-white);
    text-decoration: none;
    padding: 4%;
    border-radius: 10px;
    font-family: "Orbitron", 'lato', 'sans-serif';
    font-size: 1.9rem;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.contact-sales-btn-alt {
    background-color: var(--color-white);
    color: var(--color-primary-red);
}


.contact-sales-btn:hover{
    background-color: var(--color-light-grey);
    color: var(--color-primary-red);
    transform: scale(1.1);
}

.contact-sales-img > img {
     box-shadow: var(--color-primary-red) -40px 40px;
     border-radius: 30px;   
}

.contact-sales-img-alt > img {
    box-shadow: var(--color-white) -40px 40px;
    border-radius: 30px;
}

/*Service Dividers*/
.service-divider {
    display:flex;
    flex-direction: column;
    padding: 2% 0;
}

.service-bar {
    background-color: var(--color-primary-red);
    width: 50%;
    height: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 1% 0;
}

.service-bar-right {
    background-color: var(--color-primary-red);
    width: 50%;
    height: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin: 1% 0;
}

.service-small-bar {
    width: 30%;
}

/*Service CTA*/
.service-cta {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 3% 12%;
    height: 340px; 
    background-color: var(--color-black);
    border-radius: 30px;
    box-shadow: rgba(0,0,0,.60);
}

.service-cta-content {
    text-align: right;
    color: var(--color-white);
    padding: 0% 6%;
    width: 50%;
}

.service-cta-header {
    font-family: 'Orbitron', 'Lato', 'san-serif';
    font-size: 2.3rem;
}

.service-cta-buttons {
    display: flex;
    justify-content: flex-end;
}

.service-cta-button {
    background-color: var(--color-primary-red);
    color: var(--color-white);
    font-size: 1.3rem;
    padding: 10px 20px; 
    font-family: 'Orbitron', 'Lato', 'san-serif';
    margin: 3% 0;
    text-decoration: none;
    border-radius: 6px;
}

.service-cta-img {
    background-image: linear-gradient(90deg, rgba(255,255,255, 0) 30%, rgb(0, 0, 0)), url("../assets/document-archvie.jpg");
    width: 90%;
    height: 100%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 30px 0px 0px 30px;
    opacity: .50;
}

/*IT-dropdown-section*/
.it-dropdown-section {
    display: flex;
    background-color: var(--color-primary-red);
    padding: 10% 10%;
    gap: 10%;
    background-image: linear-gradient(to bottom, var(--color-white) .5%, rgba(191,32,38,.1), rgba(191,32,38,.1), rgba(191,32,38,.1), rgba(191,32,38,.1), rgba(191,32,38, .1),  rgba(191,32,38, .1), rgba(255,255,255,1)), linear-gradient(to top, rgba(191,32,38,.1), rgba(191,32,38,.1), rgba(191,32,38,.1), rgba(191,32,38,.1), rgba(191,32,38, .1), rgba(191,32,38, .1), rgba(255,255,255,1)), url("../assets/svgs/SITSmainpageassets-21\ 2\ \(1\).webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.it-dropdown-section-alt {
    display: flex;
    background-image: linear-gradient(to bottom, var(--color-white) .5%, rgba(136, 134, 134, .1), rgba(136, 134, 134, .1), rgba(136, 134, 134, .1),  rgba(136, 134, 134, .1), rgba(136, 134, 134, .1), rgba(136, 134, 134, .1), rgba(255,255,255,1));
    padding: 10% 10%;
    gap: 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

.it-dropdown-cards {
    padding-top: 4%;
    width: 100%
}

.drop-card {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 100%;
    margin-bottom: 4%;
    background-color: var(--color-white);
}

.drop-card-title{
    background-color: var(--color-white); 
    color: var(--color-black);
    padding: 4% 6%;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.drop-card-title > h4 {
    font-family: 'Orbitron', 'Lato', 'san-serif';
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 700;
}

.drop-card-description {
    background-color: var(--color-light-grey);
    color: var(--color-black);
    padding: 4% 3%;
    border-radius: 0 0 15px 15px;
    display: none;
    line-height: 1.9;
}

.desc-alt-color {
    background-color: var(--color-primary-red);
    color:var(--color-white);
}

.plus-circle {
    background-color: var(--color-primary-red);
    border-radius: 180px;
    width: 40px;
    height: 40px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
    color: var(--color-white);
    cursor: pointer;
}


.it-dropdown-info {
   
    justify-content: center;
}


.dropdown-image > img {
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
}

/*Steps Towards Coverage Section*/

.managed-coverage {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6), rgba(255,255,255, .9)), url('../assets/svgs/stepstowardcompleteitcoveragebackground-02.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.managed-container {
    display: flex;
    padding: 3% 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.managed-subtainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.managed-card-img {
   width: 100%;
   height: 330px;
   border-radius: 50px;
   background-color: var(--color-white); 
   box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.25), 0 6px 11px 0px rgba(0, 0, 0, 0.25);
   border: 2px solid var(--color-primary-red);
   transition: opacity 0.9s ease-in-out, transform 0.6s ease-in-out;
   transform: scale(.6);
}

.managed-card-img > img {
    padding: 6% 0;
}

.managed-card-content {
   width: 100%;
   height: 330px;
   font-size: 1.3rem;
   padding: 4% 3%;
   border-radius: 50px;
   background-color: var(--color-white); 
   line-height: 1.4;
   text-align: center;
   box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.25), 0 6px 11px 0px rgba(0, 0, 0, 0.25);
   border: 2px solid var(--color-primary-red);
   transition: opacity 0.9s ease-in-out, transform 0.6s ease-in-out;
   transform: scale(.6);
}

.managed-card-title {
    font-family: "Orbitron", 'lato', 'sans-serif';
    font-size: 2.4rem;
    padding: 1% 0;
}



/*Middle Layout*/
@media screen and (max-width: 1300px) {

    /*Contact Sales--Middle Layout*/
    .contact-sales {
        flex-direction: column;
    }

    .contact-sales-alt {
        flex-direction: column;
    }

    .contact-sales-content {
        width: 100%;
    }

    .contact-sales-btn-container {
        padding: 10% 0;
    }

    .contact-sales-img > img {
        width: 100%;
        height: 320px;
        box-shadow: var(--color-primary-red) -20px 20px;   
    }

    .contact-sales-img-alt > img {
        width: 100%;
        height: 320px;
        box-shadow: var(--color-white) -20px 20px;   
    }



    /*Service CTA*/ 
    .service-cta {
        flex-direction: column;
    }

    .service-cta-content {
        text-align: center;
        width: 100%;
    }

    .service-cta-header {
        font-size:1.9rem;
    }

    .service-cta-buttons {
        justify-content: center;
        padding: 3% 0;
    }

    .service-cta-img {
        width: 100%;
        background-image: linear-gradient(180deg, rgba(255,255,255, 0) 30%, rgb(0, 0, 0)), url("../assets/document-archvie.jpg");
        border-radius: 30px 30px 0px 0px;
    }

    /*IT-dropdown-section --Middle*/
    .it-dropdown-section {
        flex-direction: column;
        background-image: url("../assets/svgs/SITSmainpageassets-21\ 2\ \(1\).webp");
        gap: 0;
    }

    .it-dropdown-section-alt {
        flex-direction: column;
        gap: 0;
        
    }

    .it-dropdown-cards {
        order: 2;
       
    }

    
    .drop-card-title >h4 {
        font-size: .9rem;
    }

    .it-dropdown-info {
        order: 1;
    }

    .dropdown-image > img {
        height: 300px;
    }

    /*Steps Towards Coverage Section*/

    .managed-container {
        flex-direction: column;
    }

    .managed-subtainer {
        flex-direction: column;
        padding-top: 10%;
    }

    .managed-card-img {
        display: none;
    }
}

/*----------------------------------------------*/



    
    
   

/*Mobile Layout*/
@media screen and (max-width: 700px) {
    
    /*Complete IT Coverage Section -- Mobile*/ 
    .coverage-card {
      margin: 6% 0;
      min-width: 300px;
    }

    .coverage-card:hover{
        transform: none;
    }

    .coverage-btn {
        font-size: 1.1rem;
    }
        
}