/*Why Summit Section*/
.why-summit {
    padding: 6% 12%;
    background: linear-gradient(to bottom, var(--color-white), var(--color-light-grey) 10%);
}

.why-summit-content {
    display: flex; 
    gap: 3%;
    padding: 3% 0;
}

.why-summit-text {
    flex-direction: column;
}

.why-summit-box {
    width: 700px;
    height: 200px;
    flex-wrap: wrap;
    padding: 3% 3%;
    background-color: var(--color-primary-red);
    border-radius: 30px;
    margin: 6% 0;
    align-items: end;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
    color: var(--color-white);
    font-size: 1.1rem;
}

.why-summit-img > img {
    width: 760px;  
    height: 700px;
    box-shadow: var(--color-primary-red) 40px 40px;
    border-radius: 30px;
}

/*It all starts with security Section*/

.starts-security {
    background: linear-gradient(to bottom, var(--color-light-grey), var(--color-black), var(--color-80-black), var(--color-black), var(--color-dark-grey), var(--color-dark-grey), var(--color-white));
}

.starts-security .section-heading {
    padding: 10%;
    color: var(--color-white);
}

.starts-security .section-subheading{
    color:var(--color-white);
    font-size: 1.4rem;
    line-height: 1.4;;
}

.security-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 6% 0 0 0;
}

.security-card-subtainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.security-card {
    width: 24%;
    min-width: 350px;
    max-width: 800px;
    min-height: 560px;
    background-color: var(--color-white);
    box-shadow: var(--color-primary-red) 40px 40px;
    border-radius: 50px;
    border: 3px solid rgba(0,0,0,0.2);
    margin: 3%;
    padding: 1% 2% 2% 2%;
    transition: all .3s ease-in-out;
    line-height: 1.6;
    opacity: 0;
    transform: scale(.6);
    transition: opacity 0.5s ease-in-out, transform 0.6s ease-in-out;
}

.security-card-image {
    height: 240px;
    background: url("../assets/svgs/icons1209revised-01.svg");
    background-repeat: no-repeat;
    background-size: contain;
}



.security-card > h3 {
    font-weight: 600;
    font-size: 1.9rem;
    text-align: center;
    font-family: "Orbitron", 'lato', 'sans-serif';
}

.security-card:hover {
    transform: scale(1.1);
}

/*Peak Expertise Section*/

.expertise-divider {
 padding-top: 10%;
}

.expertise-bar {
    background-color: var(--color-primary-red);
    width: 30%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 1% 0;
}
.expertise-bar > h2 {
    padding: 3% 10%;
    font-family: "Orbitron", 'lato', 'sans-serif';
    font-size: 4.1rem;
    color: var(--color-white);
}

.expertise-section {
    padding: 3% 6%;
}

.expertise-container {
    display: flex;
    flex-direction: column;
}

.expertise-subtainer {
    display: flex;

}

.expertise-card {
   width: 20%;
   font-size: 1.3rem;
   background-color: var(--color-white); 
   line-height: 1.4;
   text-align: center;
   margin: 1%;
   
}

.expertise-icon {
    background: url("../assets/svgs/oneteamicons-01\ 1\ \(1\).svg");
    background-repeat: no-repeat;
    width: 100%;
    height:240px;
    background-size: contain;
    
    justify-content: center;
    align-items: center;
}

.expertise-card > h3 {
    font-family: "Orbitron", 'lato', 'sans-serif';
    text-align: center;
}


/*Middle Layout*/
@media screen and (max-width: 1300px) {
    
    /*Why Summit Section -- Middle*/
    .why-summit-content {
        flex-direction: column;
    }

    .why-summit-text {
        order: 2;
    }

    .why-summit-box {
        width: 100%;
        height: 400px;
        margin: 15% 0;
    }

    .why-summit-img {
        order: 1;
    }

    .why-summit-img > img  {
        width: 300px;
        height: 300px;
        box-shadow: var(--color-primary-red) 20px 20px;
    }

    /*It All Starts With Security Section -- Middle*/
    .starts-security {
        background:linear-gradient(to bottom, var(--color-black), var(--color-light-grey));
    }

    .security-card {
        box-shadow: none; 
        padding: 3%;
    }

    /*Peak of Expertise Section -- Middle*/
    .expertise-bar {
        width: 50%;
    }

    .expertise-bar > h2 {
        font-size: 1.9rem;
    }

    .expertise-subtainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .expertise-card {
        width: 100%;
        margin: 3% 0;
    }

    .expertise-card > h3 {
        text-align: left;
    }

}

/*Mobile Layout*/
@media screen and (max-width: 700px) {
    
}